@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


/*============Start Variable===========*/
:root{
    --blackColor : #000;
    --black1010 : #101010;
    --whiteColor : #fff;
    --grayCCC : #ccc;
    --gray333 : #333;
    --gray666 : #666;
    --orange-color:#FF6B00;
    --font-common:16px;
    --orangeEE6 : #EE6315;
}
/*============End Variable===========*/

/*=======Start Scrollbar==========*/
::-webkit-scrollbar {width: 3px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);}
::-webkit-scrollbar-thumb {background-color: #363636; outline: 1px solid slategrey;}
/*=======End Scrollbar==========*/


/*============Start Button CSS===========*/
.btn-orange{border-radius:65px; background-color: var(--orange-color); border:1px solid var(--orange-color); color: var(--whiteColor); font-size: var(--font-common); line-height: 18px; padding: 14px 24px; display: inline-block; height: 52px;}
.btn-orange:hover{ background-color:transparent; border:1px solid var(--whiteColor); color:var(--whiteColor); }
.green-btn{ font-size:var(--font-common); font-weight:bold; color:#B2E600; border-radius:65px; padding:8px 20px; border:1px solid #B2E600; height:40px; font-family: "Montserrat", sans-serif; }
.green-btn:hover{ color:var(--whiteColor); }
.btn-black{border-radius:65px; background-color: transparent; color: var(--whiteColor); font-size: var(--font-common); line-height: 18px; padding: 14px 24px; border:1px solid var(--whiteColor); display: inline-block; height: 52px;}
.btn-black:hover{ color:var(--whiteColor); }
.btn-custom-1{ background-color:#262627; border-radius:51px; padding:12px; color:#828289; font-size:var(--font-common); font-weight:bold; text-align:center; width:calc(100%); height:40px; }
.btn-custom-1:hover{ background-color:var(--orangeEE6); color:var(--whiteColor); }
.btn-custom-1 img{ opacity:0.6; }
/*============End Button CSS============*/

/*============Start Heading CSS===========*/
.heading-style2{font-size:70px; font-weight:normal; color:var(--whiteColor); line-height:normal; padding-bottom: 50px; margin-bottom: 0;}
.heading-style4{ font-size: 32px; font-weight: 700; color: var(--whiteColor); line-height: 40px;}
.heading-style5{ font-size: var(--font-common); font-weight: 700; line-height: normal; color: var(--whiteColor);}
/*============End Heading CSS===========*/

/*============Start Common CSS===========*/
body {
  margin: 0px;
  padding: 0px;
  font-family: "Mulish", sans-serif; 
  background-color: var(--black1010);
}

* {
    padding: 0; margin: 0; box-sizing: border-box;
}

a {
  text-decoration: none;
}
p{
  margin: 0;
}

img{ max-width:100%; }

::placeholder{
  opacity: 1;
  color: var(--blackColor);
}
h1{ font-size:70px; font-weight:normal; color:var(--whiteColor); line-height:normal; }
.font12{ font-size:12px !important; }
.font13{ font-size:13px !important; }
.font20{ font-size:20px !important; }
.font16{ font-size:16px !important; }
.font18{ font-size:18px !important; }
.max-width1238{ max-width:1238px !important; margin:auto; }
.max-width1308{max-width:1308px !important; margin:auto;}
.max-width1440{ max-width:1440px; margin:auto; }
.w472{ max-width:472px; }
.w670{ max-width:670px; }
.px4{ padding-left:1.5rem; padding-right:1.5rem; }
.py90{ padding:90px 0; }
.pb90{ padding-bottom:90px; }
.paragraph{ font-size:var(--font-common); font-weight:normal; line-height:24px; color:var(--whiteColor); }
.w402{ max-width:402px; }
/*============End Common CSS===========*/

.main-wrapper{ max-width:100%; height:100%;}

/*============Start Header CSS===========*/
.header-banner{ background-image:url('../images/hero.jpg'); background-position:top; background-repeat:no-repeat; padding-bottom:100px; }
.header-section{ padding-top:30px; }
header.header-section{ width: 100%;}
header.header-section nav.navbar{ background-color:transparent; padding:0; }
header.header-section nav ul{ padding: 0; }
header.header-section nav ul li{ list-style: none;}
header.header-section nav.navbar-expand-lg ul.navbar-nav{ padding:0 20px; }
header.header-section nav.navbar-expand-lg ul.navbar-nav li a.nav-link{  font-size: var(--font-common); font-weight: 300;display: block; padding: 0 20px; color: var(--whiteColor);}
header.header-section nav ul li a:hover{background-color: var(--bg-gray); border-color: var(--red-color); color: var(--blackColor);}
header.header-section nav ul li a i{margin-right: 15px; font-size: 20px;}
header.header-section nav ul li a.active{background-color: var(--dark-blue); color: #fff; border-color: var(--red-color);}
.header-left{ display:flex; align-items:flex-end; }
.use-address{ position:relative; padding-right: 15px; line-height: 18px; padding-left: 36px;}
.use-address a{ font-size:var(--font-common); color:#767676; line-height:normal; }
.use-address::after{content:""; position: absolute; right: 0; top: 50%; width: 4.72px; height: 8.19px; border: solid #535353; border-width: 0 1px 1px 0;  padding: 3px; transform: translate(-50%, -50%) rotate(-45deg) ;}
.header-right{ display:flex; }
.mobile-navbar{ display:flex; }
.cart-details{ padding-left:36px; }
.cart-sec{ width:40px; height:40px; border-radius:50%; background-color:#222225; cursor:pointer; margin-right:9px; position:relative; }
.orange-round{ position:absolute; top: 0; right: 0; height:12px; width:12px; border-radius:50%; background-color:var(--orange-color); }
.cart-no{ font-size:var(--font-common); color: var(--whiteColor); border-left: 1px solid #fff; padding-left: 12px; padding-top: 3px; padding-bottom: 3px; font-family: "Montserrat", sans-serif;}
/*============End Header CSS===========*/

/*============Start Banner CSS===========*/
.banner-section{ min-height:780px; position:relative; }
.banner-info{ max-width:880px; margin:auto; position:absolute; bottom:0; left:0; right:0; }
.banner-info p{ font-size:var(--font-common); color:var(--whiteColor); }
.banner-btn{display:flex; gap:16px; justify-content:flex-end; }
/*============End Banner CSS===========*/

/*============Start Laguage CSS===========*/
.what-lang-wrap{background-image:url('../images/indian-cuisine-1.png'); background-position:center 0; background-repeat:no-repeat;background-size: auto; min-height: 544px; padding:100px 50px 0px 50px; }
.lang-btn-section{ margin-top:50px; }
/*============End Laguage CSS===========*/

/*============Start Laguage Compare CSS===========*/
.lang-compare-wrap{background-image:url('../images/language-compare-bg.jpg'); background-position:center -280px; background-repeat:no-repeat; background-size: auto; min-height: 680px; position: relative;}
.lang-compare{ position:absolute; bottom:0; left:0; right:0; margin:auto; }
.lang-compare h2{font-size:70px; font-weight:normal; color:var(--whiteColor); line-height:normal; padding-bottom: 50px;}
.lang-compare p{ font-size:var(--font-common); color:var(--whiteColor); }
/*============End Laguage Compare CSS===========*/

/*============Start Product List CSS===========*/
.what-to-do{ padding:75px 0; }
.product-list-wrap{ background-color:rgba(28, 28, 28, 45%); border-radius:27.5px;border:1px solid rgba(28, 28, 28, 45%); height:100%; position:relative; padding-bottom:95px; overflow:hidden; }
.product-list-wrap:hover{ border:1px solid var(--orangeEE6);border-radius:27.5px; }
.product-list-inner{ padding:27.5px 39px; }
.product-list-inner h4{ margin-bottom:15px; }
.product-list-inner h5{ margin-bottom:23px; }
.rate{ font-size:var(--font-common); color:#8989A0; }
.prd-info{ font-size:var(--font-common); color:var(--whiteColor); font-weight:400; margin-bottom:35px; }
.prod-tags{}
.prod-tags span{ padding:3px 20px; background-color:#222225; border-radius:51px; font-size:var(--font-common); color:#828289; line-height:20px; display:inline-block; height:30px; margin-bottom:28px; margin-right:18px; border:1px solid #222225; }
.prod-tags span img{ margin-left:8px; }
.prod-tags span img:first-child{ margin-left:0; }
.prod-tags span:nth-child(3n+3){ margin-right:0; }
.prod-tags span:hover{ background-color:#233400; border:1px solid #8AB800; }
.form-custom{ padding-left:0; margin-bottom:0; min-height: auto; line-height: normal; }
.form-custom .form-check-input:checked{ background-color:#2B1910; border:1px solid var(--orangeEE6);background-image:url("../images/ellipse-orange.png"); background-size:29.45px; }
.form-custom .form-check-input{ width:62px; height: 35.65px; margin-left:0; margin-top:0; border:0; background-color:#222225; background-image:url("../images/ellipse.png");background-size:29.45px; }
.form-custom .form-check-input:focus{background-image:url("../images/ellipse.png"); box-shadow: none;}
.form-custom .form-check-input:checked:focus{background-image:url("../images/ellipse-orange.png"); box-shadow: none;}
.toggle-btn{ margin-top:7px; margin-bottom:35px; }
.btn-plus-minus{ background-color:#262627; border-radius:51px; padding:14px; color:#828289; font-size:var(--font-common); font-weight:bold; text-align:center; position:absolute; bottom:43px; width:calc(100% - 78px); }
.btn-plus-minus i{ margin:0 12px; display:none; }
.btn-plus-minus:hover{ background-color:var(--orangeEE6); color:var(--whiteColor); }
.btn-plus-minus:hover i{ display:inline-block; }
.img-effect-square{ position:absolute; right:45px; bottom:-95px; width:63.56px; height:129.55px; border-radius:27.28px; background-color:#98CA2F; transform:rotate(105.45deg); }
.img-effect-round{ position:absolute; right:20px; bottom:-68px; width:89px; height:89px; border-radius:50%; background-color:#7888DE; }
/*============Start Product List CSS===========*/


/*============Start Proceed CSS===========*/
.proceed-container{
    width: 1483px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.proceed-container .regular{
    width: 100%;
    left: 50px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 390px;
}
.proceed-col{ background-color:rgba(28, 28, 28, 45%); border-radius: 16px;}
.proceed-col-inner{ padding:16px 24px 24px 24px; }
.proceed-col-img{ margin-top:-65px; }
.prd-name{ font-size:var(--font-common); font-family: "Montserrat", sans-serif; line-height: 20px; color: var(--whiteColor);}
.effect-round-small{ width:35px; height:35px;right: 0; bottom: 4px; left: 128px; margin: auto; }
.effect-square-small{width:24px; height:48.92px;right: 0; bottom: -14px; left: 120px; margin: auto; border-radius: 7px;}
.proceed-container .slick-initialized .slick-slide{ margin-right:30px; }
.proceed-container .regular .slick-prev.slick-arrow{ position:absolute; right:155px; bottom:0;width:28.71px; height:28.71px; border-radius:50px; background-color:transparent; text-indent:-99999px; border:2px solid #262627; background-image:url('../images/prev-arrow.png'); background-repeat:no-repeat; background-position:center; }
.proceed-container .regular .slick-next.slick-arrow{ position:absolute; right:120px; bottom:0;width:28.71px; height:28.71px; border-radius:50px; background-color:#262627; text-indent:-99999px; border:2px solid #262627; background-image:url('../images/next-arrow.png'); background-repeat:no-repeat; background-position:center; }
.proceed-container .regular .slick-dots{ margin:45px 0 0 0; padding:0; display:flex; gap:17.93px; }
.proceed-container .regular .slick-dots li{ list-style-type:none; border-radius:50px; width:17.93px; height:17.93px; background-color:#262627; border:3px solid #262627; text-indent:-9999px;  }
.proceed-container .regular .slick-dots li.slick-active{background-color:#131318;}
.triangle-position{position:absolute; right: 0; bottom: 14px; left: 67px; margin: auto;}
.triangle-3 {
  overflow: hidden;
  transform: translateY(50%) rotate(115deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
  border-radius: 20%;
}
.triangle-3, .triangle-3::before, .triangle-3::after {
  width: 40px;
  height: 40px;
}
.triangle-3::before, .triangle-3::after {
  content: "";
  position: absolute;
  background: #CA382F;
  pointer-events: auto;
}
.triangle-3::before {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}
.triangle-3::after {
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}
.triangle-3::before {
  border-radius: 20% 20% 20% 55%;
}
.triangle-3::after {
  border-radius: 20% 20% 55% 20%;
}

/*============End Proceed CSS===========*/

/*============Start Our Advantage CSS===========*/
.our-advantages-col{background-color:rgba(28, 28, 28, 45%); border-radius: 100px; border: 1px solid #EE6315; max-width: 637px; height: 445px; padding: 94px 10px;}
.our-advantages-col h3{ font-size:100px; line-height: 100px; font-weight:normal; color:var(--whiteColor); }
.our-advantages-col p{ font-size:var(--font-common); font-weight:normal; color:var(--whiteColor); text-align:center; max-width:390px; margin:30px auto 0; }
.effect-square-advantage{ bottom:auto; top:-32px; width:68.73px; height:140px; transform: rotate(102deg); border-radius:21.94px; right:-16px; }
.bread{ position:absolute; left:0; top:-10px; }
.meal-img{ margin-top:-56px; }
.meal{ position:relative; z-index:-1; }
.our-advantages-col2{ margin-top:-52px; padding:70px 10px; }
.advantages-triangle{ position:absolute; top:20px; left:-90px; transform:translateY(50%) rotate(75deg) skewY(30deg) scaleX(0.866); }
.advantages-triangle, .advantages-triangle::before, .advantages-triangle::after {
    width: 125px;
    height: 125px;
}
.our-advantages-col3{ margin-top:-35px; padding:80px 80px; z-index:-2; }
.effect-round-advantage{ width:117px; height:117px; top:15px; bottom:auto; right:-40px; }
/*============End Our Advantage CSS===========*/

/*============Start Visit Section CSS===========*/
.visit-section{}
.visit-sources{ display:flex; padding:0; margin:22px 0 0 0; gap:15px; }
.visit-sources li{ list-style-type:none; background-color:#222225; border: 1px solid #222225; border-radius:51px; padding:10px 43px; color:var(--whiteColor); }
.visit-sources li:hover{ background-color:#233400; border:1px solid #8AB800; color:#8AB800; }
/*============End Visit Section CSS===========*/

/*============Start FAQ Section CSS===========*/
.faq-info{ padding-right:100px; }
.faq-col{ padding-left:50px; }
.faq-col .accordion-flush{border-top:1px solid var(--orangeEE6); border-bottom:1px solid var(--orangeEE6);}
.faq-col .accordion-flush .accordion-item .accordion-button{ background-color:transparent; box-shadow:none; color:var(--whiteColor); font-size:18px; font-weight:bold; padding:22.5px 10px 22.5px 0; }
.faq-col .accordion-item{ background-color:transparent; border-top:1px solid var(--orangeEE6); border-bottom:0; }
.faq-col .accordion-body{ font-size:var(--font-common); color:var(--whiteColor); padding:0 0 10px 0; }
.faq-col .accordion-button::after{
    display: inline-block;
      width: 12px;
      height: 12px;
      border-top: 2px solid var(--whiteColor);
      border-right: 2px solid var(--whiteColor);transform: rotate(135deg); background-image: none;
}
.faq-col .accordion-button:not(.collapsed)::after{transform: rotate(315deg); background-image: none;}

/*============End FAQ Section CSS===========*/

/*============Start Footer CSS===========*/
footer p{ font-size:14px; color:var(--whiteColor); text-align:center; margin-top:20px; }
.footer-menu{ border-bottom:1px solid var(--orangeEE6); padding:20px 0; }
.footer-menu ul{ padding:0; margin:0; display:flex; gap:24px; justify-content:center; }
.footer-menu ul li{ list-style-type:none; }
.footer-menu ul li a{ font-size:14px; color:var(--whiteColor); text-decoration:underline; }
.footer-menu ul li a:hover{ text-decoration:none; }
/*============Start Footer CSS===========*/

/*============Media CSS===========*/
@media screen and (min-width:768px) and (max-width:1024px) {

}
@media screen and (min-width:768px) and (max-width:979px) {

}
@media screen and (max-width: 767px) {
  h1{ font-size:30px; }
  .header-section .header-right{ display:none; }
  .mobile-navbar{ flex-direction:row-reverse; align-items:center; }
  .use-address{ background-color:#222225; border-radius:51px; padding:10px 35px 10px 20px; height:41px; }
  .use-address::after{ right:15px; }
  .use-address a{ font-size:12px; }
  .header-left{ justify-content:space-between; }
  header.header-section .navbar-toggler{ padding-right:0; }
  header.header-section .navbar-toggler-icon{ background-image:url('../images/bar.png'); background-repeat:no-repeat; background-size:16px; background-color:#222225; width:40px; height:40px; border-radius:50%; }
  header.header-section .navbar-toggler:focus{ box-shadow:none; }
  header.header-section nav.navbar{ position:static; }
  header.header-section .navbar-collapse{ position:absolute; right:0; top:80px; }
  header.header-section nav.navbar-expand-lg ul.navbar-nav{ padding:0; }
  header.header-section nav.navbar-expand-lg ul.navbar-nav li a.nav-link{ text-align:right; }
  .header-banner{ background-image:url('../images/hero-mobile.jpg'); padding-bottom:0; }

  .banner-section{ min-height:575px; }
  .banner-btn{ text-align:center; flex-direction:column; margin-top:56px; }
  .banner-btn a{ display:block; width:250px; margin:auto; }
  .banner-info{ bottom:45px;  max-width:285px; }
  .banner-info p{ text-align:center; }
  .lang-compare h2{ font-size:30px; text-align:left !important; padding-bottom: 30px;}
  .lang-compare{ padding:0 20px; }
  .lang-compare p{ margin-bottom:30px; }
  .lang-compare a.btn-orange{ display:block;text-align: center; width: 80%; margin: auto; }
  .heading-style2{ font-size:30px; }
  .our-advantages-col h3{ font-size:40px; line-height:normal; }
  .visit-sources{ display: grid; grid-template-columns: 48% 48%;padding: 0 30px;align-items: center;justify-content: center; margin-bottom:30px; }
  .visit-sources li{padding: 4px 20px; text-align: center;}
  .bycycle-col img{width: 38px;}
  .train-col{ order:4; }
  .train-col img{ width:30px; }
  .bus-col{ order:1; }
  .bus-col img{width:30px;}
  .walking-col{ order:3; }
  .walking-col img{ width:20px; }
  .what-lang-wrap{ min-height:320px; }
  .what-lang-wrap{background-image:url('../images/indian-cuisine-mob.png'); padding: 90px 50px 0px 50px;}
  .lang-btn-section{ margin-top:20px; }
  .lang-btn-section a{ display:block; }
  .lang-compare-wrap{background-image:url('../images/language-compare-bg-mob.png'); background-position: center 0px; min-height: 710px;}
  .what-to-do{ padding:50px 0; }
  .what-to-do .row > div{ margin-bottom:20px; }
  .product-list-inner{ padding:25px 30px; }
  .btn-plus-minus{ padding:10px 14px; width: 80%; left: 0; right: 0; margin: auto; bottom:30px; }
  .toggle-btn{ margin-bottom:0; }
  .product-list-inner h5{ font-size:14px; padding-right:20px; }
  .prod-tags {display: flex; flex-direction: column; align-items: flex-start;}
  .product-list-wrap{ padding-bottom:78px; }
  .product-list-wrap img{ max-width:85%; }
  .proceed-container .regular{ left:0;min-height: 350px; }
  .proceed-col-inner .rate{ font-size:12px; }
  .proceed-col-inner h5{ font-size:14px; }
  .prd-name{ font-size:10px; }
  .proceed-container .slick-initialized .slick-slide{ margin-right:17px; }
  .proceed-col-img{ margin-top:12px; }
  .effect-round-small{ bottom: -5px; left: 88px;}
  .proceed-container .regular .slick-next.slick-arrow,.proceed-container .regular .slick-prev.slick-arrow{ display:none !important; }
  .proceed-container .regular .slick-dots{ margin-top:20px; justify-content:center; }
  .proceed-section h2{ padding:0 20px 20px 20px; }
  .proceed-col-inner {padding: 10px 10px 10px 10px;}
  .our-advantages{ padding:50px 20px; }
  .effect-square-advantage{ display:none; }
  .our-advantages-col{ padding:17px 10px; border-radius:49.33px; height:225px; }
  .our-advantages-col p{ margin:20px auto 0; }
  .our-advantages-1{ flex-direction:column-reverse; }
  .meal-img{ margin-top:-40px; }
  .bread {top: 20px; width: 118px;}
  .our-advantages-col2{ margin-top:0; }
  .advantages-triangle{ display:none; }
  .our-advantages-3{ flex-direction:column-reverse; }
  .our-advantages-col3{ margin-top:0; }
  .img-effect-round{ display:none; }
  .img-effect-square{ display:none; }
  .visit-section{ padding:0 0 50px 0; }
  .visit-section h3{ text-align:center; padding: 0px 58px; }
  .visit-section .paragraph{ text-align:center; } 
  .map img{height: 452px; object-fit: cover;}
  .faq-info{ padding-right:0; padding-bottom:30px; }
  .faq-info h3{ text-align:center; padding:0 50px; }
  .faq-info p{ text-align:center; }
  .faq-info .btn-orange{display: block; text-align: center; width: 80%; margin: auto;}
  .faq-col{ padding:0 20px; }
  .faq-section{ padding-bottom:30px; }
  .footer-menu ul{ flex-direction:column; }
  .footer-menu ul li{ text-align:center; }

}
@media screen and (max-width: 590px) {
  
}
@media screen and (max-width: 430px) {

}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 320px) {

}
/*============End Media CSS===========*/

